html, body {
    background-color: #FFFFBB;
    min-height: 100%;
    margin: 0em;
    padding: 0em;
}

body {
	font-size: 62.5%; /* Resets 1em to 10px */
	line-height: 150%;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color: #333;
}

